<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reference Collector</title>
    <link th:href="@{../../webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../../webjars/font-awesome/5.8.1/css/all.css}" rel="stylesheet">
    <link th:href="@{../style/header.css}" rel="stylesheet">
    <link th:href="@{../style/labels/label_light.css}" rel="stylesheet">
</head>

<body>
<header th:insert="fragments/general.html :: header"></header>

<div class="page">
    <div>
        <h1>Labels</h1>
    </div>
    <div class="labels-container">
        <div th:each="label : ${labels}">
            <a th:href="@{/templates/references(filterBy='labels',filter=${label.name})}"
               class="badge label" th:text="${label.name}"></a>
            <span class="icons-container">
            <a th:href="@{/labels/(id=${label.id})}"><i class="fa fa-edit fa-xs"></i></a>
            <a th:href="@{/labels/delete(id=${label.id})}"><i class="fa fa-trash fa-xs"></i></a>
        </span>
        </div>

    </div>

    <br/>
    <hr/>
    <form method="POST" th:action="@{/templates/labels}" th:object="${label}" class="was-validated">
        <h2 th:if="${label.id == 0}">Add Label</h2>

        <h2 th:if="${label.id != 0}">Edit Label</h2>
        <div class="form-group">
            <label for="name">Name</label>

            <input type="hidden" name="id" th:field="*{id}">
            <input type="text" id="name" name="name" class="form-control col-md-6" th:value="*{name}"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script th:src="@{../../webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</div>
</body>
</html>
