
.logo {
    width: 40px;
}

.nav-link  {
    color: #d9dce0;
    font-size: 1.2em;
}

.nav-link:hover {
    font-weight: bold;
    color: #d9dce0
}

.page {
    margin-left: 15px;
    margin-right: 15px;
}