<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <title>Reference Collector</title>
    <meta charset="UTF-8"/>
    <link th:href="@{../webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../webjars/font-awesome/5.8.1/css/all.css}" rel="stylesheet">
    <link th:href="@{../style/header.css}" rel="stylesheet">
    <link th:href="@{../style/footer.css}" rel="stylesheet">
</head>

<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a th:href="@{/references}"><img class="logo navbar-brand" th:src="@{/images/logo.png}"/></a>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/references}">References</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/labels}">Labels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/profile/importExport}">Import/Export</a>
        </li>

    </nav>
    <br/>
</div>
<footer th:fragment="footer">
    <footer class="fixed-bottom">
        <div class="footer-container">
            <span class="text-muted">
                <i class="fab fa-github fa-s"></i>
                <a href="https://github.com/ymougenel/referenceCollector/issues/new">Report Issue</a>
            </span>
            <span class="text-muted">
                <a href="https://raw.githubusercontent.com/ymougenel/referenceCollector/master/LICENSE">See License</a>
            </span>
            <span class="text-muted">Version: <span th:text="${applicationVersion}"></span></span>
        </div>
    </footer>
</footer>
</body>
</html>