<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reference Collector</title>
    <link th:href="@{../webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{style/header.css}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <img class="logo navbar-brand" th:src="@{/images/logo.png}" />
    <li class="nav-item">
        <a class="nav-link" th:href="@{/references}">References</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/labels}">Labels</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/profile/importExport}">Import/Export</a>
    </li>

</nav>
<br />

<h1>Labels!</h1>
<div >
    <a th:each="label : ${labels}" href="#" class="badge badge-primary" th:text="${label.name}">...</a>
</div>

<br />
<br />

<form method="POST" th:action="@{/labels}" class="was-validated">

    <div class="form-group">
        <label for="name">Name</label>

        <input type="text" id="name" name="name" class="form-control" />
        <!--<span th:text="${#fields.hasErrors('name')}">XXX</span>-->
        <!--<span class="validationError"-->
              <!--th:if="${#fields.hasErrors('name')}"-->
              <!--th:errors="*{name}">Name Error</span>-->
        <br/>

    </div>
    <button type="submit" class="btn btn-primary">Add Label</button>
</form>
<script th:src="@{..//webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</body>
</html>
