<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reference Collector</title>
    <link th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">RC</a>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/references}">References</a>
    </li>
</nav>
<br />

<h1>Hello from List!</h1>

<table class="table table-striped">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>URL</th>
    <th>Categories</th>
    </thead>
    <th:block th:each="ref : ${page.iterator()}">
        <tr>
            <td th:text="${ref.id}">...</td>
            <td th:text="${ref.name}">...</td>
            <td th:text="${ref.url}">...</td>
            <td th:text="${ref.type}">...</td>

        </tr>
    </th:block>
</table>

<br />
<a class="btn btn-primary"  th:href="@{/references/new}" id="create">New reference</a>

<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</body>
</html>
